/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-image: url("background nice.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

header h1 {
  font-size: 24px;
  font-weight: 600;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #0071e3;
}

/* Hero Section */
#hero {
  color: #fff;
  text-align: center;
  padding: 100px 20px 100px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/hero-background.jpg") center/cover no-repeat;
}

#text-output {
  height: 100px;
  overflow: hidden;
  font-size: 36px;
  font-weight: 700;
}

#hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 600;
}

#hero button {
  background-color: #0071e3;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#hero button a {
  color: #fff;
  text-decoration: none;
}

#hero button:hover {
  background-color: #005bb5;
}

/* Cards Container */
#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: calc(50% - 40px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

.card img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card p {
  font-size: 20px;
  line-height: 1.6;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.footer-images {
  display: flex;
  gap: 10px;
  font-size: 25px;
  justify-content: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }

  nav ul {
    margin-top: 20px;
  }

  nav ul li {
    margin-left: 0;
    margin-right: 20px;
  }

  #hero h1 {
    font-size: 36px;
  }

  #cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}
